body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

body * {
    box-sizing: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

header h1 {
    font-size: 32px;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: center;
}

#center-content {
    display: flex;
}

#guess {
    outline: none;
    color: transparent;
    background-color: transparent;
    border: none;
}

.userguess {
    margin-bottom: 8px;
    /* ugly hack to avoid spaces between inline-blocks */
    font-size: 0;
}

.userguess .letter {
    display: inline-block;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 32px;
    margin: 0 4px;
    color: white;
    vertical-align: middle;
}

.line,
.special_char {
    background-color: #d2d6db;
    box-shadow: inset 0 0 0 2px #d3d6da;
    display: inline-block;
    height: 58px;
    width: 43px;
    line-height: 60px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 0 6px 8px 0;
    color: black;
    vertical-align: middle;
    border-radius: 4px;
    cursor: pointer;
}

.status0 {
    background-color: #787c7e;
}

.status1 {
    background-color: #c9b558;
}

.status2 {
    background-color: #6aaa63;
}

.hidden {
    display: none;
}

#ghost-input .letter:empty {
    box-shadow: inset 0 0 0 2px #d3d6da;
}

#ghost-input .letter {
    box-shadow: inset 0 0 0 2px #878a8c;
    color: #000;
}

footer {
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
}

.special_char {
    width: 100px;
}

.won {
    font-size: 20px;
    color: rgb(119, 255, 119);
}

.lose {
    font-size: 20px;
    color: red;
    margin: 2px;
}

span {
    color: green;
    font-size: 25px;
}