body {
    box-sizing: border-box;
    background-color: #131212;
    margin: 0;
    text-align: center;
}

body * {
    box-sizing: inherit;
}

header h1 {
    font-size: 32px;
    font-weight: 600;
    color: white;
}

header {
    display: flex;
    justify-content: center;
}

#center-content {
    display: flex;
}

#guess {
    font-size: 18px;
    padding: 10px;
    width: 20%;
    min-width: 150px;
    border: none;
    margin: 1px;
    margin-bottom: 20px;
}

.userguess .letter {
    margin-bottom: 5px;
    color: white;
    margin-top: 5px;
    display: inline-block;
    padding: 4px 8px;
    width: 50px;
    font-size: 30px;
    margin-right: 4px;
}

.userguess .status0 {
    background-color: #3a3b3d;
}

.userguess .status1 {
    background-color: #b69e44;
}

.userguess .status2 {
    background-color: #518d52;
}

.hidden {
    display: none;
}

.won {
    font-size: 20px;
    color: rgb(119, 255, 119);
}

.lose {
    font-size: 20px;
    color: red;
    margin: 2px;
}

span {
    color: greenyellow;
    font-size: 25px;
}