body {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

body * {
    box-sizing: inherit;
}

header h1 {
    font-size: 32px;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: center;
}

#center-content {
    display: flex;
}

#guess {
    font-size: 18px;
    padding: 10px;
    width: 20%;
    min-width: 150px;
    border: 1px solid black;
    margin: 1px;
    margin-bottom: 20px;
}

.userguess .letter {
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid gray;
    display: inline-block;
    padding: 4px 8px;
    width: 50px;
    font-size: 30px;
    margin-right: 4px;
}

.userguess .status0 {
    background-color: #aaa;
}

.userguess .status1 {
    background-color: yellow;
}

.userguess .status2 {
    background-color: rgb(62, 235, 62);
}

.hidden {
    display: none;
}

.won {
    font-size: 20px;
    color: green;
}

.lose {
    font-size: 20px;
    color: red;
    margin: 2px;
}